@media screen and  (max-width: 768px)  {

.rovno{
    margin-left: 10px;
}

.main-section-pop-gama{
    margin-left: 0px;
}

.navigation-ro {
    display: none !important;
}

.png-colection{
    justify-content: space-around;
    gap: 20px;
}


.oooo{
    margin-top: 20px;
}

.right{
    margin-left: 10px;
}

.svg-left{
    margin-left: 0px;
}

.left-pop{
    margin-left: 35px;
}

.right-pop{
    margin-left: 30px;
}

.number{

    justify-content: center !important;
}

.main-section-pop-gama{
    flex-direction: column;
}


.alex-alfa{
    flex-direction: column;
    margin-left: 150px;
}


 .smail-img{

    bottom: 0px;
    width: 135px;
    height: 135px;
   }



.all-plans{
    display: none;
}


.ule{

    display: none;
}



.left-pop{
    display: none;
}



.alex-main{

    max-width: 1160px; 
    background-image:linear-gradient(to right, #EDF6EF, #52C368 );
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items:center;
    justify-content:space-between;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-right: 20px;
}


.alex-amega{
    display: block !important;
    margin-left: 150px;
    background-color: #EDF6EF ;
    
}

.btn-div{
    margin-bottom: 30px;
}

.amega-hhhh{
    display: none;
}


.alex-doun{
    display: none;
}

.imgam{
    display: none;
}

 .smail-img{
    
    bottom: 0px;
    width: 135px;
    height: 135px;
   }


.all-plans{
    display: none;
}

   

   .left{
    margin-top: 15px;
   }
}



