@media screen and (min-width: 769px) and (max-width: 1200px)  {


.png-colection{
    justify-content: space-around;
    gap: 20px;
}


.svg-left{
    margin-left: 0px;
}

.left-pop{
    margin-left: 35px;
}

.right-pop{
    margin-left: 30px;
}

.number{

    justify-content: center;
}

.main-section-pop-gama{
    flex-direction: column;
}


.alex-alfa{
    flex-direction: column;
}

 .smail-img{

    bottom: 0px;
    width: 135px;
    height: 135px;
   }

}

@media screen and (max-width: 768px)  {

.left-pop{
    display: none;
}


 .smail-img{
    
    bottom: 0px;
    width: 135px;
    height: 135px;
   }


   .left{
    margin-top: 15px;
   }
}