 @media screen and (min-width: 769px) and (max-width: 1200px)  {


.png-colection{
    justify-content: space-around;
    gap: 20px;
}

.left{
    margin-top: 15px;
   }

.right{
    margin-left: 120px;
}

.svg-left{
    margin-left: 0px;
}

.left-pop{
    margin-left: 35px;
}

.right-pop{
    margin-left: 30px;
}

.number{

    justify-content: center;
}

.main-section-pop-gama{
    flex-direction: column;
}


.alex-alfa{
    flex-direction: column;
}

 .smail-img{

    bottom: 0px;
    width: 135px;
    height: 135px;
   }



.all-plans{
    display: none;
}


.ule{
    display: flex;
    display: none;
}




.alex-main{
    max-width: 1160px;
    
    height:88px ;
    background-image:linear-gradient(to right, #EDF6EF, #52C368 );
    display: flex;
    
    text-align: center;
    align-items:center;
    justify-content:space-between;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-right: 20px;
}

}
