
.wodth{
  
    justify-content: center;
    align-items: center;
     display: flex;
     flex-direction: column;
     font-family: 'Cera Pro'; 
}
 

.top-section-opo{




header{
    max-width: 1200px;
 margin: auto;
 margin-bottom: 0px;
}


h3{
    max-width: 1200px;
    text-align: left;
    margin: auto;
    margin-top: 20px;
    color: #3D3D3D;
      font-family: Cera Pro ;
}

.oooo{
      font-family: Cera Pro ;
}

span{
    color:#46A358 ;
}

section{
    margin-top: 0;
    max-width: 1200px;
    margin: auto;
    text-align: left;
    background-color:#F5F5F580 ;
    height: 550px;
      font-family: Cera Pro ;
}

.section1 .container1{
    background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);
    padding: 30px 15px;
}

.left{
    max-width: 600px;
    margin-left: 30px;
    max-width: 60%;
}

.section1 .left{
    display: inline-block;
    max-width: 60%;
    max-width: 600px;
}



.zagolovok{
font-weight: 900;
font-size: 70px;
line-height: 70px;
letter-spacing: 0%;
text-transform: uppercase;
margin: auto;
color:#3D3D3D ;
font-family: CeraPro ;
margin-bottom: 0px;
}


.rovno{
     display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-top: 22px;
}


.tehth{
    color:#727272 ;
    
    margin-bottom: 20px;
}



.btn{
    background-color: #46A358;
    color:#FFFFFF ;
    padding: 11px 26px 9px;
    border-radius: 6px;
    font-family: Cera pro;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: 20px;
    border:#46A358 ;

    &:hover{
        transition: 1s;
        box-shadow: 0 0 20px #0f6220;
    }
}
.navigation-ro {
   & > ul{
     display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    margin-top: 40px;


 > li{
        padding-bottom: 25px;
        border-bottom: 3px solid transparent;
        position: relative;
        padding-bottom: 25px;
        text-align: left;

        &:hover{
            border-color: #46A358;

         &:hover > ul {
            display: block;
            
         }   
        }
   ul{
    display: none;

    li{
        &:hover{
            background-color:#1A712A ;
            color:#FFFFFF ;
        }
    }
   }
        
       }

    }
  & > ul ul {
    
    z-index: 1;
    top: 100%;
    position: absolute;
    padding-top: 20px;
    right: -75px;
    li{
        min-width: 150px;
        padding: 8px 14px;
        list-style: none;
  background-color:#EDF6EE ;

&:hover {
    ul{
        display: block;
    
    }
}

    }
  }

  > li > ul >  li > ul{

z-index: 1;
position: relative;
left: 100%;
top: 0;
padding-left: 4px;
 }

li{
    max-width: 140px;
}

> ul > li > ul > li > ul {
  position: absolute;
  top: 0;       
  left: 83%;   
  display: none;
}
}



.a{
    margin-right: 40px;
}

a{
 color:#3D3D3D;
 
 text-decoration: none;
 font-size: 16px;
}
 

.btn1{
    background-color:#46A358 ;
    padding:   8px 24px 10px;
    color: #FFFFFF;
    font-family: Cera pro;
    border-radius: 6px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    margin: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;

    &:hover{
 
        background-color: #1d7e31;
        .login{
            color: #b5abab;
        }

    }
    
}

.login{
    color: #ffffff;
  
   
}

.heade{
    display: flex;
    margin-left: 50px;
    margin: auto;
    max-width: 1200px;
     align-items: center; 
    max-height: 110px;
    justify-content: center;
}


.hhhhhhhh{
      font-family: Cera Pro ;
}

h2{
    color:#46A358 ;
    margin-left: 5px;
    font-family: CeraPro ;
}


a:hover{
    color: #252424;
       
}




p{
   color:#727272 ; 
  
}

.svg-left{
    cursor: pointer;
    margin-right: 25px;
    margin-left: 100px;
    
}


.svg-gog{
    cursor: pointer;
    margin-right: 25px;
}



.navigation-ro{
   max-width: 1200px; 
   margin: auto;
   display: flex;
   align-items: center;

}


.oooo{
     font-family: 'CeraPro',;
}

hr{
    max-width: 1200px;
    color: #ffffff;
    font-size: 1px;
    height: 0px;
}

.section1{
    margin-top: 0;
}


.section1 .right{
    max-width: 40%;
   display: inline-block;
    position: relative;
    width: 100%;
  min-height: 435px;
    img{
        position: absolute;
        width: 100%;
        height: 450px;
        margin-left: 70px;
    }
   .smail-img{
    left: 45px;
    bottom: 0px;
    width: 135px;
    height: 135px;
   }

}


.large-img{
    height: 100%;
    min-width: 400px;
}


  }

/* 2*/









.main-section-pop{


.main-container-pop{
  display: flex;
  align-items: flex-start;
  margin-top: 150px;


}

.left-pop{
    max-width: 300px;
    background-color: #FBFBFB;
    margin-left: 35px;
}

.right-pop{
      max-width: 900px;
   width: 900px;
   background-color:#FFFFFF ;
   height: 800px;
   margin-left: 30px;
}

h1{
font-family: Cera Pro;
font-weight: 700;
font-size: 18px;
line-height: 16px;
letter-spacing: 0%;
padding: 12px 10px 0px;

  font-family: 'CeraPro',;
  font-weight: bold;




}


.green{
    color:#3D3D3D ; 
    padding-bottom: 25px;
    border-bottom: 3px solid transparent;
    position: relative;
    text-align: left;

   &:hover{
    color: #46A358;
 border-color: #46A358;
   }
}

.tttt{

    &:hover{
        color: #46A358;;
    }
}


.text{
    font-size: 15px;
    color: #3D3D3D;
    margin-left: auto;
}

a{
 color:  #3D3D3D ;
font-family: Cera Pro;
font-weight: 700;
font-size: 15px;
line-height: 40px;
letter-spacing: 0%;
display: block;
text-decoration: none;
margin: 5px;
padding-left: 12px;
margin-left: 10px; 
}


.all-plans{
    display: flex;
}



.zagolovok{
    text-align: center;
    color:#46A358 ;
    line-height:65px ; 
    font-size:  65px; 
    margin-bottom: 0px;
}

.p-zagolovok{
    text-align: center;
    color:#3D3D3D ;
    font-size: 23px;
    margin-top: 1px;
}

.img-kyst-p{
    margin-right: 25px;
    justify-content: left;

}



.mini-section1{
   background: linear-gradient(180deg, rgba(70, 163, 88, 0.1) 0%, rgba(70, 163, 88, 0.03) 100%);
   margin-top: 200px;
   justify-content: center;
   
}

img{
width: 370px;
height: 370px;
left: 106px;
mix-blend-mode: Multiply;

}

.imgh{
    width: 250px;
    height: 250px;
    padding: 10px; 
    background-color: #FBFBFB;
    &:hover{
      border-color: #46A358;
      border: 10px;
    }

}


.navigation
{color: #3D3D3D;
display: flex;
justify-content: space-around;
}



.prise{
    color: #46A358;
    font-size: 18px;
}


.img-text{
    font-size: 16px;
    margin-bottom: 0px;

    
  font-family: 'CeraPro' ;
  color:#3D3D3D ;


}


.png-colection{
    display: flex;
    justify-content: space-around;
     flex-wrap: wrap;
}

.number{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}


.btn{
  background-color:#fffefe ;  
  width: 35px;
  height: 35px;
  border-radius: 4px;
  color:#3D3D3D ;
 margin: 4px;
 border-color:#E5E5E5 ;

 &:hover{
      background-color:  #46A358;
      color: #FFFFFF;
 }

}




.discount{
display: none;
  color:#A5A5A5 ;
  margin-left: 10px;
}
 
.colo{
  .discount{
     &:hover{
    display: flex;
  }
  }
 
}

.colo{

    margin: 15px;
     
.btt-div{
  position: relative;
  
  border-top: 1px solid transparent;
     &:hover{
    
      border-color: #46A358;

} 
}

}

.btt-div{
    position: relative;

  border-top: 1px solid transparent;
   
   
  
  &:hover{
    
      border-color: #46A358;

      .img-btn{
        display: flex;
        gap: 10px;
        justify-content: center;
      }
    
    .discount{
      display: flex;
    }
} 
}



.img-btn{
  display: none;
    position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);

  button{
    border-radius: 4px;
    background: #fffefe;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: none;
    transition: 0.5s;
  }
}

 

}


/* 3*/













.gama-8{

 margin-top: 250px;


.main-section-pop{
    display: flex;
    align-items: center;
    justify-content: center;

}


.section-left{
    max-width: 586px;
    max-height: 250px;
    background-color:#FBFBFB ;
    margin-top: 52px;
    display: flex;
    align-items: center;
    margin-right: 25px;

    .img{
        max-width: 300px;
        align-self: flex-end;
    }

}

.text-left{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;

    margin-right: 25px;

    .h1-text{
font-family: Cera Pro;
font-weight: 900;
font-size: 18px;
line-height: 24px;
letter-spacing: 0%;
text-align: right;
text-transform: uppercase;
margin-bottom: 0px;

font-family: 'CeraPro',;

    }


    .p-text{
font-family: Cera Pro;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0%;
text-align: right;
color: #727272;
margin: 12px;

font-family: 'CeraPro',;


    }


  .btn{
opacity: 1;
border-radius: 6px;
border: none;
background-color:#46A358 ;
color: #FFFFFF;
width: 140px;
height: 40px;
margin-left: auto;
margin-top: 10px;
justify-content: center;
text-align: center;
align-items: center;
&:hover{
    transition: 1s;
    background-color: #0f6220;
    color: #b5abab;
    box-shadow:0 0 30px #0f6220;
}

     }

}

.div-zagolovok{
    margin-top: 100px;
}

.zagolovok{
    font-family: Cera Pro;
font-weight: 700;
font-size: 30px;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
color:#3D3D3D ;

font-family: 'CeraPro',;

}


.p-zagolovok{
    font-family: Cera Pro;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
color: #727272;

font-family: 'CeraPro',;

}

.flex{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    height: 370px;
}


.div-dix{
    
    padding: 0px 20px;
    width: 268px;
    height: 167px;
}

.div-dix-two{
    background-color: #FBFBFB;
    
}

.img-dix{
    width: 268px;
    height: 195.17px;
}


.h5-dix{
font-family: Cera Pro;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0%;
color: #46A358;
margin-top: 0;
padding-left: 10px;
padding-right: 10px;
margin-bottom: 5px;
}


.h1-dix{
font-family: Cera Pro;
font-weight: 700;
font-size: 20px;
line-height: 26px;
letter-spacing: 0%;
color:#3D3D3D ;
margin-top: 0px;
margin-bottom: 5px;
padding-left: 10px;
padding-right: 15px;
}


.p-dix{

font-weight: 400;
font-size: 14px;
line-height: 22px;
letter-spacing: 0%;
color:#727272 ;
margin-top: 0;
padding-left: 10px;
}


.btn-dix{
font-family: Cera Pro;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0%;
border: none;
color:#3D3D3D ;
margin-top: 0;
background-color:#FBFBFB ;
padding-left: 10px;
margin-bottom: 10px;
z-index: 2;
cursor: pointer;

&:hover{
  color: #13b333;
  border: #000100;
}
}

  }












/* 4*/














.inmaa{


.alex-alfa{
    display: flex;
   max-width:  1200px;
   justify-content: center;
    margin-top: 100px;
    

}


.svg-alex{
    padding-left: 16px;
    margin-top: 20px;

}


.alex-div{
width: 265px;
height: 248px;
top: 24px;
left: 25px;
opacity: 1;
background-color:#FBFBFB ;
padding-left: 10px;
}


.alex-h1{
      font-family: 'Cera Pro',;
width: auto;
height: 16.079601287841797px;
opacity: 1;
font-family: Cera Pro;
font-weight: 700;
font-size: 17px;
line-height: 16px;
letter-spacing: 0%;
padding-left: 16px;
margin-bottom: 1px;
}

.alex-p{
     font-family: 'Cera Pro'; 
width: 204;
height: 66.32836151123047;
top: 25.12px;
opacity: 1;
font-family: Cera Pro;
font-weight: 400;
font-size: 14px;
line-height: 22px;
letter-spacing: 0%;
padding-left: 16px;
margin-top: 8px;
color: #727272;
padding-right: 40px;

}


.alex-sp{
font-family: Cera Pro;
font-weight: 700;
font-size: 18px;
line-height: 16px;
letter-spacing: 0%;
margin-top: 30px;
color:#3D3D3D ;
}

.alex-section{
    background-color:#FBFBFB ;
    height: 248px;
    width: 400px;
    padding-left: 16px;
}



.input-alex{
width: 215px;
height: 40px;
opacity: 1;
border-radius: 6px;
color:#ACACAC ;
border: none;
padding-left: 20px;
margin-right: 0px;
}


.alex-btn{
width: 85px;
height: 40px;
left: 269px;
opacity: 1;
border-top-right-radius: 6px;
border-bottom-right-radius: 6px;
border: none;
background-color:#46A358 ;
font-family: Cera Pro;
font-weight: 700;
font-size: 18px;
line-height: 16px;
letter-spacing: 0%;
border-radius: 6px;
color:#FFFFFF ;

&:hover{
    transition: 2s;
    background-color: #0f6220;
}
}



.alex-pp{
  width: 354px;
height: 89px;
font-family: Cera Pro;
font-weight: 400;
font-size: 13px;
line-height: 22px;
letter-spacing: 0%;
color: #727272;
opacity: 1;
  max-width: 350px;
}



.alex-main{
    width: 1160px;
    max-width: 1160px;
    
    height:88px ;
    background-image:linear-gradient(to right, #EDF6EF, #52C368 );
    display: flex;
    text-align: center;
    align-items:center;
    justify-content:space-between;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-right: 20px;
}


.alex-shop{
    color: #46A358;
    padding-left: 5px;
    font-size: 20px;
}




.alex-p-text{
  font-family: Cera Pro ;
font-weight: 400px;
font-size: 14px;
line-height: 22px;
letter-spacing: 0%;
color:#3D3D3D ;
max-width: 170px;
margin-left: 5px;
}

.alex-logo{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    
}

.alex-amega{
    width: 1200px;
    display: flex;
    justify-content: space-around;
   
    max-width: 1200px;
    background-color: #FBFBFB; 
    height: 236px;
}

.amega-div{
display: flex;
flex-direction: column;
}

.btn-div{
    display: flex;
    
}


.amega-h1{
     font-family: 'Cera Pro',;
font-family: Cera Pro;
font-weight: 700;
font-size: 18px;
line-height: 16px;
letter-spacing: 0%;
color:#3D3D3D ;
margin-top: 35px;
}



.a-amega{
font-family: Cera Pro;
font-weight: 400;
font-size: 14px;
line-height: 30px;
letter-spacing: 0%;
color:#3D3D3D ;
text-decoration: none;
}



.a-amega-btn{
width: 30px;
height: 30px;
opacity: 1;
border-radius: 4px;
border-width: 1px;
border-color:#46A35833 ;
background-color:#FBFBFB ;
margin-right: 10px;
padding-top: 5px;

}
}

.fasebook{
&:hover{
    transition: 1s;
    background-color: #1877f2;
    box-shadow: 0 0 15px #1877f2, 0 0 30px #1877f2;

}


 }
.alex-doun{
    text-align: center;
}


.insta{
    &:hover{
        transition: 1s;
          background-color: #b92387;
    box-shadow: 0 0 15px #b92387, 0 0 30px #b92387;

    }
}


.tviter{
    
    &:hover{
        transition: 1s;
          background-color: #20b0e4;
    box-shadow: 0 0 15px  #20b0e4, 0 0 30px  #20b0e4;

}
}


.lit{
     &:hover{
        transition: 1s;
          background-color: #8220e4;
    box-shadow: 0 0 15px  #8220e4 , 0 0 30px  #8220e4 ;

}
}


.youtub{
      &:hover{
        transition: 1s;
          background-color: #ca3716;
    box-shadow: 0 0 15px   #ca3716 , 0 0 30px   #ca3716 ;

}
}


.p-doun{
     font-family: 'Cera Pro',;
font-family: Cera Pro;
font-weight: 400;
font-size: 14px;
line-height: 30px;
letter-spacing: 0%;
color:#3D3D3D ;
opacity: 1;

} 
 